.doctor-register {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
    135deg,
    #1e6399 0%,
    #7db9e8 100%,
    #2989d8 100%,
    #207cca 100%,
    #2989d8 101%
  );

  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;

    .back-wrapper {
      color: rgba(255, 255, 255, 0.8);

      .back-link {
        color: rgba(255, 255, 255, 0.8);
      }
    }

    .registration-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: rgba(255, 255, 255, 0.8);

      .register-button {
        margin-left: 20px;
        color: rgba(255, 255, 255, 0.8);
        border-color: rgba(255, 255, 255, 0.8);
      }
    }
  }

  .main {
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;


    .register-form {
      width: 500px;

      .form-section {
        margin-top: 20px;

        .section-title {
          display: block;
          color: white;
          font-size: 16px;
          text-transform: uppercase;
          padding: 10px 15px;
        }
      }

      .form-box {
        width: 100%;
        margin: 16px 0px;
      }

      .register-button {
        width: 100%;
        height: 44px;
        color: #3c7eb2;
        margin-top: 10px;
        background-color: rgba(255, 255, 255, 0.87);
      }

      .section-divider {
        height: 0px;
        margin: 20px 15px 5px 15px;
        background-color: white;
      }
    }

  }

}
